.char {
  &__content {
    padding-top: 50px;
    padding-bottom: 45px;
    position: relative;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 467px;
    height: 372px;
  }
}
