.random {
  padding-top: 54px;
  &__wrapper {
    display: flex;
  }
  &__info {
    padding: 35px 35px 35px 40px;
    width: 550px;
    min-height: 250px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    &-content {
      justify-content: space-between;
      display: flex;
    }
    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: 0;
      }
    }

    &-error {
      width: 100%;
      display: flex;
      justify-content: center;
      iframe {
        width: 180px;
      }
    }
    &-img {
      width: 180px;
      height: 180px;
    }
    &-desc {
      width: 265px;
      position: relative;
    }
    &-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    &-btns {
      position: absolute;
      bottom: 0;
      width: 232px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__choice {
    position: relative;
    padding: 35px 35px 35px 40px;
    width: 550px;
    background: #232222;
    color: white;
    min-height: 250px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
    &-subtitle {
      margin-top: 41px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
    &-img {
      width: 202.54px;
      height: 189px;
      position: absolute;
      bottom: 14px;
      right: -35px;
    }
    &__btn {
      margin-top: 20px;
    }
  }
}
